.gradient {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgba(16, 60, 60, 255), rgba(84, 149, 148, 255));
    overflow: hidden;


    .up {
        position: absolute;
        left: 0;
        top: 50;
        height: 500px;
        width: 500px;
        border-radius: 30%;
        background-image: linear-gradient(90deg, rgb(22, 21, 22), rgb(80, 145, 145));
        filter: blur(80px);
    }

    .left {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 350px;
        width: 750px;
        border-radius: 10px 10px 10px 0px;
        background-image: linear-gradient(90deg, rgba(22, 21, 22, 1) 0%, rgba(22, 21, 22, 1));
        filter: blur(80px);
    }

    .right {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 350px;
        width: 750px;
        border-radius: 10px 10px 0px 10px;
        background-image: linear-gradient(90deg, rgb(22, 21, 22), rgb(229, 117, 60));
        filter: blur(60px);

    }
}
.nav-menu.nav-link{
    color: white;
    font-size: 14px;
    font-style: popins regualr;
}








.container-main {
    background-image: url("../../Assets/gradient.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 50px 25px 50px;
  
    width: 100%;
    


    
}

.navbar-nav {
    display: flex !important;
    justify-content: space-around !important;

}

.nav-menu {
    color: rgb(255,255,255);
    text-decoration: none;
    padding: 2vh;
    font-weight: 500;


}

#responsive-navbar-nav {

    flex-wrap: inherit;
    align-items: center;

}

.nav-logo {
    display: flex;
    flex-direction: column;

}

#navs{
    margin-right: 556px;
}
.nsbar{
    margin-left: -306px;
    font-size: 25px;
}

.nav-content {
    display: flex;
    justify-content: space-around;
}
.main-section{
    text-align: right;

    .main-head{
        color:#fff;
        font-family: sans-serif;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 3em;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width:0.7px ;
        margin-top: 10px;
        font-weight: 500;
        word-wrap: break-word;
    }
    .main-para{
        color:#fff;
        font-family: sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 100;
        
       
    }
  
    .new-table{
        text-align: right;
        color: #fff;
        float: right;
      
      
    }
    .btn-white{
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        padding: 8px;
        
    }
    .table-cont{
        font-weight:50;
        font-size: 10px;
        margin-top: -10px;
    }

    
}